{% extends 'mainpage/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Калькулятор
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">

<br><br>
               <h1>Калькулятор</h1>
            <div class="card shadow">

                 <form action="{% url 'mainpage:main' %}">
      {{ form|crispy }}
                     <br>
        <button type="submit" class="btn btn-primary">Получить результат</button>
    </form>


            </div>
 <br><br>







        </div>
        <div class="col-1"></div>









    </div>






</div>


{% endblock %}