{% extends 'mainpage/base.html' %}

{% block title %}
  Профиль
{% endblock %}

{% block body %}
<div class="container">

   <div class="main-body">

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">


                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">

                    <div class="mt-3">








                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Логин</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                                     {{ user.username }


                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
            {{ user.profile.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">ИНН</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">

                    {{ user.profile.organization }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Сайт</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                  {{ user.profile.site }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Страна</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    {{ user.profile.country }}

                    </div>
                  </div>
                  <hr>
                   <a class="btn btn-info  btn-sm" target="__blank" href='https://topinvestrussia.ru/userprofile/editprofile'>Редактировать профиль</a>
                  <div class="row">
                    <div class="col-sm-12">





                    </div>

                  </div>

                </div>
              </div>





            </div>
          </div>

        </div>





    <form action="{% url 'mainpage:main' %}">
        <button type="submit">Главная страница</button>
    </form>
    </div>
{% endblock %}